.underline{
  border-bottom: 1px solid #6C6C6C;
}

@media only screen and (max-width: 1350px) {

   html,
   body {
     margin-top: 0;
     margin-right: 0;
     margin-left: 0;
   }
 }

 @media only screen and (min-width: 1350px) {

   .tourPicture {
     background-color: black;
     width: 827px;
     height: 506px;
     margin-left: auto;
     margin-right: auto;
   }

   .tourPicture #tourImage {
     margin-left: auto;
     margin-right: auto;
     max-width: 820px;
     max-height: 500px;
   }

   .tourPicture h1 {
     margin-left: auto;
     margin-right: auto;
     margin-top: -80px;
     text-align: center;
     font-family: sans-serif;
     font-size: 75px;
     color: white;
     width: 800px !important;
     left: 0 !important;
   }

   table {
     display: table;
     margin-left: auto;
     margin-right: auto;
     width: 900px;
   }



   .tickets a:hover {
     opacity: 0.7;
   }

   .tourTable {
     font-size: 36px;
     color: #6C6C6C;
     font-family: sans-serif;
     line-height: 200%;
   }


   td {
     text-align: center;
   }

   .tickets a {
     display: inline-block;
     background-color: #562F96;
     width: 120%;
     color: white;
     text-align: center;
     text-decoration: none;
   }

   html,
   body {
     margin-top: 0;
     margin-right: 20px;
     background-image: url("./lib/jennieBG.png");
     background-color: #cccccc;
   }




   ul {
     list-style-type: none;
   }


   figure {
     text-align: center;
   }

   .promoPicture {
     position: absolute;
     top: 100px;
     left: 40%;
     z-index: 0;
     border: 3px solid #562F96;
     background-color: black;
     width: 827px;
     height: 506px;
     border-radius: 21px;
   }

   .promoPicture img {
     padding-left: 200px;
     padding-right: 200px;
     width: auto;
     height: auto;
     max-width: 820px;
     max-height: 500px;
   }

    h1 {
     width: 600px;
     margin-top: 150px;
     font-family: sans-serif;
     position: relative;
     left: 21%;
     font-size: 75px;
     color: white;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
   }

   #otherNews {
     left: auto;
     right: auto;
     top: 0;
     margin: 0 auto;
   }

   #getYours {
     top: -40px;
     left: 20%;
     padding: 10px 10px 10px 10px;
     position: relative;
     width: 400px;
     font-family: sans-serif;
     font-size: 36px;
     color: #6C6C6C;
   }

   #getYours>a {
     border: solid 1px #562F96;
     text-decoration: none;
     border-radius: 12px;
     color: #6C6C6C;
     padding: 10px 40px 10px 10px;
   }

   #getYours a:hover {
     color: white;
     background-color: #562F96;
   }

   #ticket {
     height: 32px;
     position: relative;
     top: 4px;
   }


   #indexMerch a {
     color: #6C6C6C;
     font-family: sans-serif;
     font-size: 24px;
     text-decoration: none;
   }

   #indexMerch {
     margin-top: -40px;
     margin-bottom: 100px;
     padding: 20px 20px;
     width: 100%;
   }

   #indexMerch li {
     width: 33%;
     vertical-align: top;
     display: inline-block;
   }

   #indexMerch img {
     height: 300px;
   }

   #indexMerch p {
     width: 300px;
   }

   .slideshow-container {
     max-width: 45%;
     position: relative;
     margin: auto;
   }

   .slides {
     display: none;
   }

   .prev,
   .next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     margin-top: -22px;
     padding: 16px;
     color: white;
     background-color: transparent;
     border: none;
     font-weight: bold;
     font-size: 18px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     user-select: none;
   }

   .next {
     right: 0;
     border-radius: 3px 0 0 3px;
   }

   .prev:hover,
   .next:hover {
     background-color: rgba(0, 0, 0, 0.8);
   }

   .slideText {
     color: #f2f2f2;
     font-size: 24px;
     padding: 8px 12px;
     position: absolute;
     bottom: 8px;
     box-sizing: border-box;
     width: 100%;
     background: rgb(0, 0, 0);
     background: rgba(0, 0, 0, 0.5);
   }

   .active,
   .dot:hover {
     background-color: #717171;
   }

   a:any-link {
    text-decoration: none;
}


.grid-container>div {
    margin-left: -40px;
}

.storeNav {
    width: 319px;
    grid-row: 2;
    grid-column: 1 / 2;
    border-right: solid 2px #562F96;
}


#korg-container{
    top:20px;
    position: relative;
    margin-bottom: 40px;
}


#basketCounter {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: -71px;
    margin-bottom: 36px;
}

.storeNav a {
    font-size: 20px;
    color: #6C6C6C;
    font-family: sans-serif;
}

.storeNav ul {
    list-style-type: none;
    line-height: 400%;
}

.storeNav li {
    position: relative;
    text-align: center;
    font-family: sans-serif;
    color: #6C6C6C;   
    font-size: 20px;
}

.subMenu {
    font-size: 14px !important;
    display: none;
}

.inactive{
    display: none;
}

#searchBar {
    width: 80%;
    text-align: center;
    font-family: sans-serif;
    color: #6C6C6C;   
    font-size: 20px;
    border: none;
    margin-right:-20px;
}

#searchItem{
    margin-top: -20px;
    height: 30px;
    padding-bottom: 20px;
    border-bottom: #562F96 1px solid;
    margin-bottom: 30px;
    
}

.active {

    display:list-item !important;
    text-align: center;
}

#korg {
    width: 47px;
}

#search {
    padding-left: 10px;
    border-bottom: solid 1.4px #562F96;
}

#zoom {
    position: relative;
    right:10px;
    width: 14px;
}

.product-viewer {
    grid-row: 2;
    grid-column: 2;
    padding-top: 38px;
}

.product-viewer>a {
    padding-top: auto;
    padding-bottom: auto;
    width: 100%;
    display: inline-block;
}


.product-viewer td {
    padding-right: 45px;
    vertical-align: top;
    position: relative;
}

.product{
    position: relative;
    width: auto;
    height: 228px;
}

.product-viewer img {
    width: auto;
    height: 228px;
}

.product:hover > img{
    opacity: 0.3;
}

.product button {
    position: absolute;
    bottom:0%;
    width: 85%;
    left:0%;
    background-color: #562F96;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    border-top: 10%;
}

.storeNav button {
    background-color: white;
    color: #6C6C6C;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.product:hover > button{
    opacity: 1;
}

.grid-container {
  display: grid;
}




.product-viewer p {
    line-height: 130%;
    font-size: 18px;
    font-family: sans-serif;
    color: #6C6C6C;
}

 }


 @media only screen and (max-width: 1350px) {

   figure {
     margin-top: 40px;
     text-align: center;
   }

   .promoPicture {
     border: 3px solid #562F96;
     background-color: black;
     border-radius: 21px;
   }

   .promoPicture img {
     width: 98%;
     height: auto;
   }

   h1 {
     text-align: center;
     font-family: sans-serif;
     font-size: 60px;
     margin: 0 auto;
     position: relative;
     top: -200px;
     color: white;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
   }

   #storeNews {
     top: -60px;
   }

   #getYours {
     position: relative;
     top: -180px;
     left: 80px;
     margin: 0 auto;
     padding: 10px 10px 10px 10px;
     width: 400px;
     font-family: sans-serif;
     font-size: 24px;
     color: #6C6C6C;
   }

   #getYours>a {
     border: solid 1px #562F96;
     border-radius: 12px;
     text-decoration: none;
     color: white;
     padding: 10px 40px 10px 10px;
     background-color: #562F96;
   }

   #getYours>a:hover {
     background-color: white;
     color: #562F96;
   }

   #ticket {
     height: 21px;
     position: relative;
     top: 2px;
   }


   #otherNews {
     left: auto;
     right: auto;
     top: 0px;
   }

   .slideshow-container {
     max-width: 70%;
     position: relative;
     margin: auto;
   }

   .slideText {
     color: #f2f2f2;
     font-size: 24px;
     padding: 8px 12px;
     position: absolute;
     bottom: 8px;
     box-sizing: border-box;
     width: 100%;
     background: rgb(0, 0, 0);
     /* Fallback color */
     background: rgba(0, 0, 0, 0.5);
     /* Black background with 0.5 opacity */
   }




   .prev,
   .next {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     margin-top: -22px;
     padding: 16px;
     color: white;
     font-weight: bold;
     font-size: 18px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
     user-select: none;
   }

   .next {
     right: 0;
     border-radius: 3px 0 0 3px;
   }

   .prev:hover,
   .next:hover {
     background-color: rgba(0, 0, 0, 0.8);
   }

   #indexMerch {
     margin-top: -40px;
   }

   #indexMerch a {
     color: #6C6C6C;
     font-family: sans-serif;
     font-size: 24px;
     text-decoration: none;
   }


   #indexMerch li {
     width: 33%;
     vertical-align: top;
     display: inline-block;
   }

   #indexMerch img {
     height: 220px;
   }

   #indexMerch p {
     width: 300px;
   }

 }



 @media print {
   .navContainer {
     display: none;
   }

   .navBar {
     display: none;
   }

   .apps {
     display: none;
   }

   .language {
     display: none;
   }

   .logo img {
     max-width: 150px;
   }
 }

 @media only screen and (min-width: 1350px) {

   header {
     padding-left: 26px;
     padding-right: 14px;
     border-bottom: 1px solid #562F96;
     background-color: white;
     width: 100%;
   }

   .logo {
     margin-right: 0%;
     padding-top: 12px;
     margin-top: -1px;
     width: 230px;
   }

   .logo img {
     max-width: 230px;
     max-height: 73px;
   }

   .navContainer {
     box-sizing: border-box;
   }

   .navBar {
     left: 30%;
     margin-top: -1px;
     background-color: white;
     position: absolute;
     width: auto;
     top: 40px;
   }

   .navBar li {
     display: inline;
   }

   .navBar a {
     font-size: 40px;
     font-family: sans-serif;
     color: #6C6C6C;
     top: 40px;
     margin-left: 20px;
     text-decoration: none;
     text-align: center;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   }

   .apps {
     float: right;
     top: 50px;
     right: 1%;
     background-color: white;
     position: absolute;
   }


   .apps img {
     height: 28px;
     width: 28px;
     top: -10px;
     left: -4px;
   }

   .language {
     position: absolute;
     top: 0px;
     right: 20px;
   }

   .language h2 {
     font-size: 24px;
     font-family: sans-serif;
     color: #6C6C6C;
     text-decoration: none;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   }

   .language img {
     height: 15px;
     width: 22px;
     left: 0px;
     right: -10px;
     top: 0px;
   }
 }

 @media only screen and (max-width: 1350px) {

   header {
     margin: 0 auto;
   }

   .navContainer {
     margin: 0 auto;
   }

   .logo {
     margin-top: 30px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 10px;
     text-align: center;
     background-color: white;
   }

   .logo img {
     max-width: 230px;
     max-height: 73px;
   }

   .navBar {
     border-top: 2px solid #562F96;
     padding-top: 10px;
     margin-top: 0;
     margin-left: -60px;
     text-align: center;
   }

   .navBar li {
     display: inline;
   }

   .navBar a {
     font-size: 20px;
     font-family: sans-serif;
     color: #6C6C6C;
     margin-left: 10px;
     margin-right: 10px;
     text-decoration: none;
     text-align: center;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   }

   .apps {
     display: none;
   }

   .language {
     display: none !important;
   }


 }

 @media print {
  .newsNav {
      width: 10%;
      grid-row: 2;
      grid-column: 1 / 2;
  }


  .newsNav a {
      text-decoration: none;
      font-size: 20px;
      color: #6C6C6C;
      font-family: sans-serif;
  }

  
  .newsNav li {
      text-align: center;
  }


  #zoom {
      display: none;
  }

  #search {
      display: none;
  }

  .newsScroller {
      grid-row: 2;
      grid-column: 2 / 8;
  }

  .newsScroller li {
      overflow: hidden;
      margin-bottom: 5px;
      padding-left: 10px;
      padding-top: 10px;
      border: solid 1px gray;
  }

  .newsScroller h2 {
      font-family: sans-serif;
      font-size: 32px;
      display: inline;
      color: gray;
  }

  .newsScroller p {
      width: 820px;
      color: gray;
      font-family: sans-serif;
      font-size: 16px;
  }

  .newsScroller img {
      margin-right: 30px;
      float: left;
      height: 130px;
      padding-bottom: 10px;
  }

  .newsScroller a {
      font-size: 16px;
      font-family: sans-serif;
      color: blue;
  }

}

@media screen {


  .grid-container>div {
      margin-left: -40px;
  }

  .newsNav {
      padding-top: 30px;
      width: 319px;
      grid-row: 2;
      grid-column: 1 / 2;
      border-right: solid 1px #562F96;
  }

  .newsNav a {
      text-decoration: none;
      font-size: 40px;
      color: #6C6C6C;
      font-family: sans-serif;
  }

  .newsNav li {
      text-align: center;
  }


  #newsZoom {
      position: relative;
      width: 14px;
  }

  #search {
      font-size: 20px;
      padding-left: 10px;
      border-bottom: solid 1.4px #562F96;
  }

  .newsScroller {
      margin-left: -90px;
      grid-row: 2;
      grid-column: 2 / 8;

  }



  .newsScroller li {
      overflow: hidden;
      margin-bottom: 20px;
      padding-left: 10px;
      padding-top: 10px;
      border: solid 1px gray;
  }

  .newsScroller h2 {
      font-family: sans-serif;
      font-size: 48px;
      display: inline;
      color: gray;
  }

  .newsScroller p {
      width: 820px;
      color: gray;
      font-family: sans-serif;
      font-size: 24px;
  }

  .newsScroller img {
      margin-right: 30px;
      float: left;
      height: 205px;
      padding-bottom: 10px;
  }

  .newsScroller a {
      font-size: 24px;
      font-family: sans-serif;
      color: blue;
  }

}

@media print{
  video{
      display: none;
  }

  #about{
      margin-top: 0px !important;
      margin-left: 20px !important;

  }

  #qoute {
      margin-left: 20px !important;
      width: 100% !important;
  }

  p {
      margin-left: 20px !important;
  }

  #contact{
      display: none;
  }
}

.promoPicture video {
  position: absolute;
  width: auto; 
  height: auto;
  max-width: 820px;
  max-height: 500px;
  z-index: -1;
}

#about {
  font-family: sans-serif;
  margin-bottom: 30px;
  font-size: 75px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#qoute {
  font-family: sans-serif;
  font-size: 36px;
  top: -100px;
  width: 375px;
}

#infoText{
  position: relative !important;
  top: -100px !important;
  margin-left: 300px !important;
  margin-right: 15% !important;
  font-size: 26px !important;
  color: gray !important;
}

#contact {
  font-family: sans-serif;
  text-align: left;
  margin-left: 300px;
}

label {
  text-align: left;
}